@import "variables.scss";
#landing-game-pony {
    font-family: 'Burbank', serif;
    min-height: 800px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    .text-primary {
        color: $theme1;
    }
    .form-control, .btn {
        border-radius: 0 !important;
    }
    .noP {
        padding: 0 !important;
    }
    p {
        font-size: 14px;
        line-height: 1.75;
        font-family: 'Burbank', serif;
    }
    p.large {
        font-size: 16px;
    }
    a {
        color: $theme1;
        font-family: 'Burbank', serif;
        &:hover,
        &:focus,
        &:active,
        .active {
            color: darken($theme1, 10%);
            text-decoration: none;
            outline: none;
        }
    }
    h1 {
        font-size: 58px;
    }
    h2 {
        font-size: 50px;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $white !important;
        font-family: 'Burbank', serif;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
    }
    @media (max-width:768px) {
        h1 {
            font-size: 22px;
        } 
        h2 {
            font-size: 20px;
        }
        h3 {
            font-size: 16px;
        } 
    }
    
    
    
    .sect1 {
        background: url('../img/sect1.jpg') top center no-repeat;
        background-size: cover;
        height: auto;
        width: 100%;
        padding-bottom: 150px;
        text-align: center;
        .game {
            width: 1000px;
            height: 563px;
            margin: 0 auto;
            margin-top: 20px;
            .gameContent {
                position: relative;
                padding-bottom: 56.25%;
                height: 0;
                overflow: hidden;
                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 101%;
                    height: 101.1%;
                    border: 0;
                }
            }
            .pony {
                position: absolute;
                width: 250px;
                margin-left: -220px;
                top: 400px;
                img {
                    width: 100% auto;
                }
            }
            .fish {
                position: absolute;
                width: 250px;
                margin-right: 0px;
                right: 0;
                top: 400px;
                img {
                    width: 100% auto;
                }
            }
            @media (max-width:1500px) {
                .pony {
                    position: absolute;
                    width: 150px;
                    margin-left: -160px;
                    top: 400px;
                    img {
                        width: 100% auto;
                    }
                }
                .fish {
                    position: absolute;
                    width: 250px;
                    margin-right: -20px;
                    right: 0;
                    top: 600px;
                    img {
                        width: 100% auto;
                    }
                }
            }
            @media (max-width:1360px) {
                .puntos {
                    width: 100px;
                    float: right;
                    margin-right: -100px;
                    h1 {
                        font-size: 68px;
                    }
                }
                .pony {
                    position: absolute;
                    width: 150px;
                    margin-left: -95px;
                    top: 600px;
                    img {
                        width: 100% auto;
                    }
                }
                .fish {
                    position: absolute;
                    width: 150px;
                    margin-right: 10px;
                    right: 0;
                    top: 600px;
                    img {
                        width: 100% auto;
                    }
                }
            }
            
        }
        @media (max-width:1200px) {
            .container {
                width: 100%;
                .game {
                    width: 100%;
                    height: auto;
                    margin-top: 20px;
                    .pony {
                        position: absolute;
                        width: 90px;
                        margin-left: 0;
                        top: 680px;
                        img {
                            width: 100% auto;
                        }
                    }
                    .fish {
                        position: absolute;
                        width: 90px;
                        margin-right: 10px;
                        right: 0;
                        top: 700px;
                        img {
                            width: 100% auto;
                        }
                    }
                }
            }
        }
        @media (max-width:800px) {
            .container {
                width: 100%;
                .game {
                    width: 100%;
                    height: auto;
                    margin-top: 20px;
                    .pony {
                        position: absolute;
                        width: 90px;
                        margin-left: 0;
                        top: 450px;
                        img {
                            width: 100% auto;
                        }
                    }
                    .fish {
                        position: absolute;
                        width: 90px;
                        margin-right: 10px;
                        right: 0;
                        top: 450px;
                        img {
                            width: 100% auto;
                        }
                    }
                }
            }
        }
        @media (max-width:480px) {
            .container {
                width: 100%;
                .game {
                    width: 100%;
                    height: auto;
                    margin-top: 20px;
                    .pony {
                        position: absolute;
                        width: 50px;
                        margin-left: 0;
                        top: 350px;
                        img {
                            width: 100% auto;
                        }
                    }
                    .fish {
                        position: absolute;
                        width: 50px;
                        margin-right: 10px;
                        right: 0;
                        top: 350px;
                        img {
                            width: 100% auto;
                        }
                    }
                }
            }
        }
        .count {
            width: 300px;
            height: 120px;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 20px;
            .box {
                img {
                    width: 100px;
                }
                .number {
                    color: $theme1;
                    font-size: 58px;
                    position: absolute;
                    top: 25px;
                    left: 22px;
                    text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
                }
                .tittle {
                    font-size: 24px;
                    color: $theme1;
                    text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
                }
            }
            .b2 {
                padding-top: 20px;
                .number {
                    color: $theme1;
                    font-size: 58px;
                    position: absolute;
                    top: 45px;
                    left: 25px;
                    text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
                }
            }
        }
        .tittle2 {
            font-size: 34px;
            color: $theme1;
            margin: 0 auto;
            text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
        }
        @media (max-width:991px) {
            .count {
                width: 290px;
                height: 120px;
                margin: 0 auto;
                text-align: center;
                margin-bottom: 20px;
                .box {
                    img {
                        width: 80px;
                    }
                    .number {
                        color: $theme1;
                        font-size: 48px;
                        position: absolute;
                        top: 20px;
                        left: 25px;
                    }
                    .tittle {
                        font-size: 18px;
                        color: $theme1;
                    }
                }
                .b2 {
                    padding-top: 20px;
                    .number {
                        color: $theme1;
                        position: absolute;
                        top: 40px;
                        left: 25px;
                        text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
                    }
                }
            }
            .tittle2 {
                font-size: 34px;
                color: $theme1;
                margin: 0 auto;
            }
        }
        .buttons {
            position: absolute;
            z-index: 1000;
            right: 20px;
            .btn {
                border: 0;
                border-radius: 10px !important;
                color: $white;
                font-weight: 700;
                font-family: 'VAGRoundedStd', serif;
                width: 140px;
                white-space: normal;
                .text {
                    margin-right: 30px;
                }
                span {
                    border: 2px solid $white;
                    border-radius: 100%;
                    width: 30px;
                    height: 30px;
                    font-size: 22px;
                    float: right;
                    margin-top: -35px;
                }
            }
            .viewPro {
                background: #E33B8C;
            }
        }
        @media (min-width: 600px) {
            .sect1 {
                .buttons {
                    .btn {
                        border: 0;
                        border-radius: 10px !important;
                        color: #fff;
                        font-weight: 700;
                        font-family: 'VAGRoundedStd', serif;
                        width: 180px;
                        font-size: 16px;
                        white-space: normal;
                        padding: 20px;
                    }
                }
            } 
        }
    }
    
    
    .sect2 {
        background: url('../img/sect2.jpg') top center no-repeat;
        background-size: cover;
        float:left;
        margin-top:-100px;
        width:100%;
        transform:skew(0deg,2deg);
        .content {
            display:block;
            float:left;
            margin:50px auto 200px;
            width:100%;
            transform:skew(0deg,-2deg);
            .video-responsive {
                position: relative;
                width: 720px;
                height: 480px;
                margin: 0 auto;
                margin-bottom: 20px;
                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                }
            }
            .videos {
                margin: 0 auto;
                max-width: 800px;
                .col-xs-4 {
                    padding: 0 5px;
                }
                div {
                    div {
                        cursor: pointer;
                    } 
                } 
            }
        }
        @media (max-width:1200px) {
            .content {
                display:block;
                float:left;
                margin:50px auto 150px;
                width:100%;
                transform:skew(0deg,-2deg);
                .video-responsive {
                    position: relative;
                    width: 720px;
                    height: 480px;
                    margin: 0 auto;
                    margin-bottom: 20px;
                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                    }
                }
            }
        }
        @media (max-width:768px) {
            .content {
                display:block;
                float:left;
                margin:50px auto 150px;
                width:100%;
                transform:skew(0deg,-2deg);
                .video-responsive {
                    position: relative;
                    width: 300px;
                    height: 150px;
                    margin: 0 auto;
                    margin-bottom: 20px;
                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
    .sect3 {
        background: url('../img/sect3.jpg') top center no-repeat;
        background-size: cover;
        float:left;
        margin-top:-100px;
        width:100%;
        transform:skew(0deg,-2deg);
        display: block;
        .content {
            display:block;
            float:left;
            margin:50px auto 100px;
            width:100%;
            transform:skew(0deg,2deg);
            h2 {
                margin-bottom: 50px;
            }
            h3 {
                margin: 30px 0;
                text-transform: uppercase;
            }
            .boxes {
                .box {
                    background: $white;
                    border-radius: 10px;
                    padding: 10px;
                    width: 100%;
                    
                    img {
                        border-radius: 10px;
                        
                    }
                }
                .box2 {
                    background: $white;
                    border-radius: 10px;
                    padding: 10px;
                    width: 100%;
                    img {
                        border-radius: 10px;
                    }
                }
            }
        }
    }
    @media (max-width:992px) {
        .sect3, .sect2 {
            height: auto;
        }
    }
    
    @media (max-width: 768px) {
        .sect1 .buttons {
            position: relative;
            z-index: 1000;
            right: auto;
            margin: 0 auto;
        }
        .sect2 .videos > div > div > h3 {
            font-size: 16px;
        }
        .sect1 {
            background: url('../img/fondo1.png') top center no-repeat;
            background-size: cover;
        }
        .sect2 {
            background: url('../img/fondo2.jpg') top center no-repeat;
            background-size: cover;
        }
        .sect3 {
            background: url('../img/fondo3.jpg') top center no-repeat;
            background-size: cover;
        }
    }
    @media (min-width: 600px) {
        .sect1 .buttons .btn {
            border: 0;
            border-radius: 10px !important;
            color: #fff;
            font-weight: 700;
            font-family: 'VAGRoundedStd', serif;
            width: 180px;
            font-size: 16px;
            white-space: normal;
            padding: 20px;
        }
    }
}
